/* Styling the home class*/
html{
    scroll-behavior: smooth;
    width: 99%;
    
    
}
body{
    margin: 0%;
    padding: 0%;
    background-image: url("../Images/smoth_background_img.jpg");
    background-repeat: no-repeat;
    background-position: sticky;
    min-width:1000px;       
    width: 100% !important;  
    float: none !important;
}

#top{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0.5%;
    padding-inline-end: .5%;
    background-color: midnightblue;
    box-shadow: 0px 9px 20px 0px #13171b;
    z-index: 1;

}
#floating_name_logo{
    visibility: hidden;
    width: max-content;
    position: fixed;
    right: 5%;
    top: 5%;
}
#top_name_logo{
    margin-inline-start: 2%;
    margin-inline-end: 3%;
    width: 15%;
    min-width: 240px;
    float: left;
    padding-top: 0.7%;
    }
ul#nav_list{
    margin-inline-start: 27%;
}

#nav_list li{
    display: inline;
}
#nav_list a {
    font-size: 25;
    display: inline;
    color: #fde2e8;
    text-align: center;
    padding: 1.5% 3%;
    background-color: #242582;
    text-decoration: none;
    /*transition: 0.4s;*/
    /* Hashem Alkeshawi 120190191 */
    border: 3px solid #242582;
    margin: 0% -.2% 0.6%;
    margin-top: 12%;

}
#nav_list a:hover {
    transition: 0.5s;
    background-color: #2e4ca7;
    border-color: #484ac2;
}
#center{
    /* Hashem Alkeshawi 120190191 */
    align-content: center;
    font-family: 'Irish Grover', cursive;
    font-size: 57;
    margin: 8% 10% 13% 5%;
}
#description{
    margin-top: 1%;
}
#center_img{
    width: 25%; 
    transition: 0.5s;
    border-radius: 5%;
    border: 0px solid #242582;
    margin: -3% 5% 0% 10%;
    float: left;

}
#center_img:hover{
    border-radius: 12%;

}
#center #contact{
    padding: 2% 3%;
    background-color: #242582;
    color: #fde2e8;
    margin-left: 3%;
    border-radius: 55px;
    /* Hashem Alkeshawi 120190191 */
    border: none;
    font-size: 26px;
    width: 25%;
    transition: 0.7s;
}
/* Hashem Alkeshawi 120190191 */
#center #contact:hover{
    text-align: left;
    color:#eda569;
    width: 50%;
}
#center #contact>img{
    display: none;
    transition: 0.7s;
}



#center #contact:hover{
    background-color: #242682a9;
}

/* Styling the more class*/
#home_back{
    display: none;
    position: fixed;
    right: 4.5%;
    bottom: 10%;
    transition: 0.4s;
}
#home_back:hover{
    bottom: 12% ;
    opacity: 0.5;
}
/* Hashem Alkeshawi 120190191 */
/* styling the about section*/

#about_heading{
    font-size: 23;
    color: #ffffff;
    padding: 1%;
    padding-top: 5%;
    margin-top: 10%;
    width:99%;
    background-color:#3D5B59;
}

#about_heading > h1{
    display: inline;
    padding: 0% 2%
}
#about_content{
    margin: 0;
    font-size: 30;
    padding: 2%;
    width: 97%;
    color: white;
    background-color: rgb(45, 45, 48);

}
#about_content p{
    padding:3%;
    transition: 0.6s;
    margin-left: 0%;
    margin-right: 20%;
}/* Hashem Alkeshawi 120190191 */
#about_content p:hover{
    padding:5%;
    border: solid 6px #f64c72;
    border-radius: 12em;
    margin-left: 6%;
    margin-right: 6%;
    text-align: center;
    font-size:xx-large;
    background-color: black;
}

/* styling the skills section*/

#skills_heading{
    font-size: 23;
    color: #ffffff;
    padding: 1%;
    padding-top: 1%;
    width:99%;
    background-color: #0879bf;
}
#skills_heading >h1{

    display: inline;
    padding: 0% 2%}

div #skills_content{
  margin: 2% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
  height: 90%
}
#skills_content .skill{
    display: block;
    width: 90%;
    height: 100%;
    border:3px solid #45b8c4;
    overflow-y: auto;
}
#skills_content .skill li:hover{
    background-color:rgb(241, 232, 232);
    cursor: pointer;
}
/* Hashem Alkeshawi 120190191 */
#skills_content >.skill >.skills_content_heading{
background-color: #45b8c4;
height: 10%;
padding-bottom: 8%;
text-align: center;
position:sticky;
top: 0;
}
#skills_content >.skill .skills_content_heading h2{
  margin-top: 0;

    /* display: inline; */
}
#skills_content .skill ul{
    list-style: none;
    font-size:xx-large;
    padding: 3%;
}
#skills_content .skill ul li{
    list-style-position: inside;
}
/* Hashem Alkeshawi 120190191 */
#skills_content  #tools_languages {
    box-shadow: 0px 0px 20px 13px #8d8c8c;
}
#skills_content  #android {
    box-shadow: -5px 0px 10px 4px #8d8c8c;
}
#skills_content  #frontend {
    box-shadow: 5px 0px 10px 4px #8d8c8c;
}
#androidImage{
    margin-bottom: 0;
}


#skills_content .skill ul #uInterface{
    list-style-image: url("../Icons/ui-design.png");
}
#skills_content .skill ul #uExperience{
    list-style-image: url("../Icons/ux-design.png");
}
#skills_content .skill ul #AStudio{
    list-style-image: url("../Icons/android-logo.png");
}
#skills_content .skill ul #kotlin{
    list-style-image: url("../Icons/kotlin.png");
}
#skills_content .skill ul #java{
    list-style-image: url("../Icons/java-icon.png");
}
#skills_content .skill ul #xml{
    list-style-image: url("../Icons/xml-icon.png");
}
#skills_content .skill ul #sqlite{
    list-style-image: url("../Icons/sqlite-icon.png");
}
#skills_content .skill ul #networking{
    list-style-image: url("../Icons/networking.png");
    /* Hashem Alkeshawi 120190191 */
}
#skills_content .skill ul #gradle{
    list-style-image: url("../Icons/gradle-icon.png");
}
#skills_content .skill ul #html{
    list-style-image: url("../Icons/html-file-icon.png");
}
#skills_content .skill ul #css{
    list-style-image: url("../Icons/css-icon.png");
}
#skills_content .skill ul #js{
    list-style-image: url("../Icons/javaScript-icon.png");
}
#skills_content .skill ul #python{
    list-style-image: url("../Icons/python-icon.png");
}
#skills_content .skill ul #sql{
    list-style-image: url("../Icons/sql-icon.png");
}
#skills_content .skill ul #mysql{
    list-style-image: url("../Icons/mysql-icon.png");
}
#skills_content .skill ul #firebase{
    list-style-image: url("../Icons/firebase-icon.png");
}
#skills_content .skill ul #admob{
    list-style-image: url("../Icons/admob-icon.png");
}
#skills_content .skill ul #react{
    list-style-image: url("../Icons/react.png");
}
#skills_content .skill ul #bootstrap{
    list-style-image: url("../Icons/bootstrap.png");
}




/* styling the education section*/

#edu_heading{
    font-size: 23;
    color: #ffffff;
    padding: 1%;
    padding-top: 3%;
    width:99%;
    background-color:#57a381;
}
#edu_heading > h1{
    /* Hashem Alkeshawi 120190191 */
    display: inline;
    padding: 0% 2%
}
#edu_content{
    margin-left: 10%;
    margin-right: 10%;   
    border: 4px solid gray;
}
#edu_content #journey1_title{
    font-size: 45px;
    padding: 0% 2% 12% 2%;
    background-color: #eee;
    border-bottom: 1px solid #444;
}
#edu_content #journey1_title1{
    float: left;
    margin-right: 4%;
}
#edu_content #destination, #edu_content #destination2{
    float: right;
    margin: 3%;
}
#edu_content #journey1_descreption{
    clear: both;
    font-size: 38px;
}
#edu_content #p1_descreption{
    padding: 3% 0%;
    text-align: center;
}
#edu_content #p1_descreption a{
    text-decoration: none;
    /* Hashem Alkeshawi 120190191 */
    color: #57a381;
    font-size: 45px;
    text-shadow: 2px 3px 2px #aaa;
}
#edu_content #p1_descreption a:hover{
    text-shadow: none;
}
#wall{
    width: 90%;
    height: 3px;
    background-color: #57a381;
}

#edu_content #p2_descreption{
    padding: 0% 4%;
    font-size: 30px;
}
#edu_content #journey1_descreption ul{
    font-size: 30px;
    padding: 0% 10%;
    /* Hashem Alkeshawi 120190191 */
    list-style-type: circle;
}
#edu_content #p3_descreption{
    padding: 0% 4%;
    font-size: 30px;
}
#edu_content #p3_descreption a{
    text-decoration: none;
    color: #57a381;
}
#edu_content #p3_descreption a:hover{
    text-shadow: none;
    text-shadow: 1px 2px 4px #aaa;

}
#edu_content #p3_descreption #aU{
    text-decoration: none;
    color: #09a6d1;
    font-size: 33px;
    /* Hashem Alkeshawi 120190191 */
}
#edu_content #p3_descreption #aU:hover{
    text-shadow: none;
    text-shadow: 2px 2px 4px #aaa;

}
#p4_text{
    padding: 0% 4%;
    font-size: 30px;
}
#p4_text a{
    text-decoration: none;
    color: #57a381;
}
#p4_text a:hover{
    text-shadow: none;
    text-shadow: 1px 2px 4px #aaa;

}
#p4_text #aU{
    text-decoration: none;
    color:#09a6d1;
    font-size: 33px;
    /* Hashem Alkeshawi 120190191 */
}
#p4_text #aU:hover{
    text-shadow: none;
    text-shadow: 2px 2px 4px #aaa;

}

#p5_text{
    padding: 0% 4%;
    font-size: 30px;
}
#p5_text a{
    text-decoration: none;
    color: #57a381;
}
#p5_text a:hover{
    text-shadow: none;
    text-shadow: 1px 2px 4px #aaa;

}
#p5_text #aU{
    text-decoration: none;
    color: #d12009;
    font-size: 33px;
    /* Hashem Alkeshawi 120190191 */
}
#p5_text #aU:hover{
    text-shadow: none;
    text-shadow: 2px 2px 4px #aaa;

}

#edu_content #journey2 ul{
    font-size: 30px;
    padding: 0% 10%;
}
#edu_content #journey2 ul #android_ui{
    padding: 1%;
    list-style-image: url("../Icons/android-ui.png");
}
#edu_content #journey2 ul #android_up{
    padding: 1%;
    list-style-image: url("../Icons/android-up.png");
} 
#edu_content #journey2 ul #android_ms{
    padding: 1%;
    list-style-image: url("../Icons/android-m.png");
}
#edu_content #journey2 ul #android_n{
    padding: 1%;
    list-style-image: url("../Icons/android-n.png");
}
#edu_content #journey2 ul #android_ds{
    padding: 1%;
    list-style-image: url("../Icons/android-ds.png");
}
#edu_content #journey2 ul #android_dev{
    padding: 0% 2%;
    list-style-image: url("../Icons/android-logo.png");
}/* Hashem Alkeshawi 120190191 */
/*styling the portfolio section*/

#portfolio_heading{
    font-size: 23;
    color: #ffffff;
    padding: 1%;
    padding-top: 5%;
    width:99%;
    background-color:#ca796e;
}
#portfolio_heading > h1{
    display: inline;
    padding: 0% 2%
}

#portfolio_content #title_a , #title_f, #title_c{
    padding: 1% 0%;
    text-align: center;
    font-family:cursive;
}
#portfolio_content #title_a hr , #title_f hr, #title_c hr{
    background-color: #0879bf;
    height: 1%;
    width: 25%;
} 

#portfolio_content >div{
    margin: 2%;

}

#app1{
    text-align: center;
    border: 3px solid rgb(252, 114, 114);
    margin:1 2% 1% 2%;
    background-color: #ca796ebb;
}
#app1>a>img{
    border-radius: 20px;
    transition: 0.7s;
}
#app1>a>img:hover{
    border-radius: 30px;
    opacity: 0.85;
    transform: rotate(360deg);
}
#app1 #capture{
    width: 100%;
}

#app1>a{
    color: black;
    text-decoration: none;
    font-size: 30px;
}
#app1>a:hover{
    color: #555;
    text-decoration: underline;
}



#app2{
    text-align: center;
    border: 3px solid #44be4abb;
    margin:1 2% 1% 2%;
    background-color:#0ab19adc;
}
#app2>a>img{
    border-radius: 20px;
    transition: 0.7s;
}
#app2>a>img:hover{
    border-radius: 30px;
    opacity: 0.85;
    transform: rotate(360deg);
}
#app2>a{
    color: black;
    text-decoration: none;
    font-size: 30px;
}
#app2>a:hover{
    color: #555;
    text-decoration: underline;
}
#app2 #capture{
    width: 100%;
}
#contact_section{
    text-align: center;
}
#contact{
    text-align: center;
}

#contact_section h1{
    text-align: center;
    margin-bottom: 3%;
}
#contact_section label{
    padding-right: 4%;
    color: rgb(4, 85, 15);
    margin: 2%;
}
#contact_section textarea{
    height: 150px;
    width: 300px;
    margin: 2%;
    vertical-align: middle;
    border: none;
    border-radius: 35% 5%;
    padding: 3%;
}

#contact_section button{
    background-color:#44be4abb;
    margin: 4%;
    padding: 2%;
    font-size: 20px;
    border: none;
    box-shadow: 2px 2px 3px #777;
}
#contact_section button:hover{
    background-color:#36ac3cbb;
}

#contact fieldset{
    color: rgb(22, 104, 15);
    font-size: 40px;
    background-color: #96cfb5d8;
    border: 5px solid #1b9b70;
    border-radius: 35% 5%;
    width: 50%;
    padding: 3% 0.5%;
    margin-left: 23%;
}
#contact #links{
    padding:4%;
}
#contact #resume{
    padding: 0% 0% 5% 0%;
}
#contact #resume img:hover{
    margin: 1% 0% -1% 0%;
}
